#seekbar {
    width: 160px;
    height: 10px;
    margin: 1em;
    border-radius: 5px;
    background: #ccc;
}
#seekarea {
    display: flex;
}
#current, #duration {
    padding: 0;
    margin: .2em;
}