html {
    width: 100%;
    height: 100%;
}
#seekbar, #progressbar {
    width: 100%;
    height: 4px;
    transition: height 400ms ease 0ms, background 30ms linear 0ms;
}
#seekbar {
    background: linear-gradient(#0275ff, #0275ff) no-repeat #eee0;
    z-index: 2;
    position: absolute;
    bottom: 0px;
}
#progressbar {
    background: linear-gradient(#aaa, #aaa) no-repeat #eee;
    z-index: 1;
    transition: height 400ms ease 0ms, background 3000ms linear 0ms !important;
}
#seekarea {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 3em;
}
#seekarea:hover #seekbar {
    height: 15px;
    transition: height 400ms ease 0ms, background 30ms linear 0ms;
}
#seekarea:hover #progressbar {
    height: 15px;
    transition: height 400ms ease 0ms, background 30ms linear 0ms;
}
#current, #duration, #slash {
    padding: 0;
    margin: .2em;
    line-height: 37.38px;
}
#playPause, #stop {
    width: 37px;
    height: 37px;
    border: none;
    background-color: transparent;
}
#controller {
    display: flex;
}
#times {
    display: flex;
}