@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100vw;
  height: 8vh;
  background-color: var(--accent-color);
  font-family: "Concert One", "Kaisei Opti";
  -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.3);
}

header #menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 4vh;
  line-height: 4vh;
  background-color: #fffd;
}

header #menubar #title {
  height: 4vh;
  margin-right: 35vw;
  margin-left: 15vw;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

header #menubar #title:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #79797999);
          filter: drop-shadow(1px 1px 1px #79797999);
}

header #menubar #title img {
  height: 4vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header #menubar #account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40vw;
}

header #menubar #account #logout {
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  font-size: 30px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  padding: 0px 16px;
}

@media (max-width: 920px) {
  header #menubar #account #logout {
    font-size: 20px;
  }
}

header #menubar #account #logout:hover {
  background-color: #aaa3;
  cursor: pointer;
}

header #menubar #account #id {
  text-overflow: ellipsis;
  white-space: nowrap;
  line-break: break-all;
  width: 1vw;
}

@media (max-width: 920px) {
  header #menubar #account #id {
    display: none;
  }
}

header #datebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 4vh;
  height: 4vh;
  font-size: 25px;
}

@media (max-width: 920px) {
  header #datebar {
    font-size: 20px;
  }
}

header #datebar #previousDate {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(255, 255, 255, 0);
  -webkit-transition: text-shadow 300ms, -webkit-transform 300ms;
  transition: text-shadow 300ms, -webkit-transform 300ms;
  transition: transform 300ms, text-shadow 300ms;
  transition: transform 300ms, text-shadow 300ms, -webkit-transform 300ms;
}

header #datebar #previousDate:hover {
  cursor: pointer;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 5px white;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

header #datebar #currentDate {
  color: #fff;
  font-weight: bold;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header #datebar #nextDate {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(255, 255, 255, 0);
  -webkit-transition: text-shadow 300ms, -webkit-transform 300ms;
  transition: text-shadow 300ms, -webkit-transform 300ms;
  transition: transform 300ms, text-shadow 300ms;
  transition: transform 300ms, text-shadow 300ms, -webkit-transform 300ms;
}

header #datebar #nextDate:hover {
  cursor: pointer;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 5px white;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  background-color: #ccc;
  padding-top: 2vh;
  height: 90vh;
  width: 100vw;
  font-family: "Concert One", "Kaisei Opti";
}

main div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main div#review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 4vw;
}

main div#review div {
  margin-left: 1vw;
}

main div#temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 4vw;
}

main div#temperature div {
  margin-left: 1vw;
}

main div#temperature #tempArea {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Concert One", "Kaisei Opti";
  margin-bottom: 5px;
  text-align: right;
  border-color: #333;
  -webkit-transition-property: color, border-color, border-width;
  transition-property: color, border-color, border-width;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

main div#temperature #tempArea:focus-visible {
  outline-style: none;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-width: 2px;
  -webkit-transition-property: color, border-color, border-width;
  transition-property: color, border-color, border-width;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

main div#temperature input[type="checkbox"] {
  display: none;
}

main div#temperature input[type="checkbox"] ~ label > i::before {
  color: #000;
  font-weight: 500;
  font-size: 25px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

main div#temperature input[type="checkbox"] ~ label > i::after {
  content: "休日";
  font-family: "Concert One", "Kaisei Opti";
  font-size: 18px;
  line-height: 25px;
  color: #000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

main div#temperature input[type="checkbox"] ~ label:hover {
  cursor: pointer;
}

main div#temperature input[type="checkbox"]:checked ~ label > i::before {
  font-weight: 800;
  color: var(--accent-color);
}

main div#temperature input[type="checkbox"]:checked ~ label > i::after {
  content: "登校日";
  font-size: 18px;
  line-height: 25px;
  font-family: "Concert One", "Kaisei Opti";
  color: var(--accent-color);
}

main div h2 {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main div textarea {
  width: 90vw;
  height: 15vh;
  resize: none;
  font-size: 20px;
  font-family: "Concert One", "Kaisei Opti";
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  -webkit-transition-property: color, border-color, border-width;
  transition-property: color, border-color, border-width;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

main div textarea:focus-visible {
  outline-style: none;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-width: 2px;
  -webkit-transition-property: color, border-color, border-width;
  transition-property: color, border-color, border-width;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

#loadingCover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 1;
  background-color: #fff8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

#loadingCover #loadingArea {
  width: 150px;
  height: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#loadingCover #loadingArea h2 {
  text-align: center;
  font-family: "Concert One", "Kaisei Opti";
  font-size: 32px;
}

#loadingCover.hidden {
  opacity: 0;
}

#submitbtn {
  margin-left: 5vw;
  width: 5vw;
  height: 50px;
  background-color: var(--accent-color);
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ddd;
  -webkit-transition-property: -webkit-box-shadow,-webkit-transform;
  transition-property: -webkit-box-shadow,-webkit-transform;
  transition-property: box-shadow,transform;
  transition-property: box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 16px;
  font-family: "Concert One", "Kaisei Opti";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 920px) {
  #submitbtn {
    width: 25vw;
  }
}

#submitbtn:hover {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  cursor: pointer;
}

.loader {
  width: 150px;
  height: 150px;
}

#feelingArea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: table-row;
  height: 55px;
  overflow: hidden;
}

#feelingArea option {
  font-size: 30px;
  display: table-cell;
}

#feelingArea option:checked {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--accent-color)), to(var(--accent-color)));
  background: linear-gradient(var(--accent-color), var(--accent-color));
  font-size: 35px;
  -webkit-filter: drop-shadow(0px 0px 2px #0008);
          filter: drop-shadow(0px 0px 2px #0008);
  outline-style: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
/*# sourceMappingURL=style.css.map */