$pc: 920px;
$sp: 480px;
@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($sp)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 8vh;
    background-color: var(--accent-color);

    & #menubar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 4vh;
        line-height: 4vh;
        background-color: #fffd;

        & #title {
            height: 4vh;
            margin-right: 35vw;
            margin-left: 15vw;
            transition: background-color 300ms;

            &:hover {
                background-color: #aaa3;
            }

            & img {
                height: 4vh;
            }
        }

        & #account {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 40vw;

            & #logout {
                color: #fff;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
                font-size: 30px;
                transition-property: background-color;
                transition-duration: 300ms;
                padding: 0px 16px;

                @include sp {
                    font-size: 20px;
                }

                &:hover {
                    background-color: #aaa3;
                    cursor: pointer;
                }
            }

            & #id {
                text-overflow: ellipsis;
                white-space: nowrap;
                line-break: break-all;
                width: 1vw;

                @include sp {
                    display: none;
                }
            }
        }
    }

    & #datebar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        line-height: 4vh;
        height: 4vh;
        font-size: 25px;

        @include sp {
            font-size: 20px;
        }

        & #previousDate {
            color: #fff;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            transition: transform 300ms;

            &:hover {
                cursor: pointer;
                text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
                transform: translateY(1px);
            }
        }
        
        & #currentDate {
            color: #fff;
            font-weight: bold;
        }
        
        & #nextDate {
            color: #fff;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            transition: transform 300ms;
    
            &:hover {
                cursor: pointer;
                text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
                transform: translateY(1px);
            }
        }
    }
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

main {
    background-color: #ccc;
    padding-top: 2vh;
    height: 90vh;
    width: 100vw;

    & div {
        width: fit-content;
        margin: 0 auto;

        &#temperature {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 4vw;

            & div {
                margin-left: 1vw;
            }

            & input[type="checkbox"] {
                display: none;
                &~label>i {
                    &::before {
                        color: #000;
                        font-weight: 500;
                        font-size: 25px;
                        transition-property: color;
                        transition-duration: 300ms;
                    }
                    &::after {
                        content: "休日";
                        color: #000;
                        transition-property: color;
                        transition-duration: 300ms;
                    }
                }
                &~label:hover {
                    cursor: pointer;
                }
                &:checked~label>i{
                    &::before{
                        font-weight: 800;
                        color: var(--accent-color);
                    }
                    &::after {
                        content: "登校日";
                        color: var(--accent-color);
                    }
                }

            }
        }

        & h2 {
            margin: 0;
        }

        & textarea {
            width: 90vw;
            height: 15vh;
            resize: none;
            font-size: 20px;
        }
    }
}

#loadingCover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 1;
    z-index: 1;
    background-color: #fff8;
    backdrop-filter: blur(10px);
    transition-property: opacity;
    transition-duration: 300ms;

    & #loadingArea {
        width: 150px;
        height: 180px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        & h2 {
            text-align: center;
        }
    }

    &.hidden {
        opacity: 0;
    }
}

#submitbtn {
    margin-left: 5vw;
    width: 5vw;
    height: 50px;
    background-color: var(--accent-color);
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ddd;
    transition-property: box-shadow,transform;
    transition-duration: 300ms;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    @include sp {
        width: 25vw;
    }
    &:hover {
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(4px);
        cursor: pointer;
    }
}

.loader {
    color: #333;
    margin-bottom: 20px;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 auto 50px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
