@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
body {
    margin: 0;
    background-color: #333;
}
html {
    background-color: #333;
}
textarea {
    font-family: 'Fira Code', monospace;
    background-color: black;
    color: white;
    font-size: 10pt;
    width: 66vw;
    height: 22vh;
}

div#resolution-cfg {
    display: flex;
}


div#content {
    display: flex;
    width: 99vw;
    height: 99vh;
    padding: 0.5vh 0.5vw;
    &>#left{
        width:67vw;
        padding: 0.5vh 0.5vw;
        height: 98vh;
        border-right: 2px gray inset;
        &>#preview{
            width: 66vw;
            height: 74vh;
            padding: 0.5vh 0.5vw;
            border-bottom: 2px gray inset;
            display: flex;
            justify-content: center;
            align-items: center;
            &>canvas {
                &.widthfit{
                    width: 66vw;
                }
                &.heightfit{
                    height: 74vh;
                }
            }
        }
        &>#output{
            width: 66vw;
            height: 23vh;
            padding: 0.5vh 0.5vw;
        }
    }
    &>#right{
        width: 30vw;
        padding: 0.5vh 0.5vw;
        height: 98vh;
        &>#control{
            &>#control{
                &-tabs{
                    height: 40px;
                    width: 29vw;
                    padding: 0.5vh 0.5vw;
                }
                &-contents{
                    border-top: 2px gray inset;
                    height: 89vh;
                    width: 29vw;
                    padding: 0.5vh 0.5vw;
                }
            }
        }
    }
}

code#cfgdata {
    display: none;
}