@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -900;
  transition: opacity 300ms linear 0ms;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#overlay.show {
  transition: opacity 300ms linear 0ms;
  opacity: 1;
  z-index: 900;
}
#overlay.show > div {
  opacity: 0;
  z-index: -901;
  transition: opacity 100ms linear 0ms;
}
#overlay.show > div#createCalendar {
  width: 28vw;
  height: 67vh;
  background-color: #fff;
  border-radius: 10px;
}
#overlay.show > div > div#innerFrameHeader {
  height: 50px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
#overlay.show > div > div#innerFrameHeader > span {
  font-family: "Kiwi Maru";
  font-size: 28px;
}
#overlay.show > div > div#innerFrameHeader > i {
  font-size: 24px;
  cursor: pointer;
}
#overlay.show > div.show {
  opacity: 1;
  z-index: 901;
  transition: opacity 100ms linear 0ms;
}

header {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.8);
  height: 250px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Kiwi Maru";
}
header > #serviceName {
  background-color: #fff;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}
header > #serviceName > i {
  line-height: 80px;
  font-size: 32px;
  margin: 0 15px;
}
header > #serviceName > h1 {
  font-family: "Kiwi Maru";
  font-weight: 300;
  line-height: 40px;
}
header > #menutab {
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #008cff;
}
header > #menutab > div {
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  padding: 4px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background-color 100ms linear 0ms;
}
header > #menutab > div:hover {
  transition: background-color 100ms linear 0ms;
  background-color: #259dff;
}
header > #menutab > div.sel {
  transition: background-color 100ms linear 0ms;
  background-color: #56b3ff;
}
header > #menutab > div.sel:hover {
  transition: background-color 100ms linear 0ms;
  background-color: #259dff;
}
header > #menucontent {
  height: 120px;
  width: 100vw;
  background-color: #eeeeee;
}
header > #menucontent > div {
  display: flex;
  position: absolute;
  opacity: 0;
  transform: translateX(50px);
  pointer-events: none;
  transition: opacity 200ms linear 0ms, transform 200ms linear 0ms, display 0ms linear 200ms;
  flex-direction: row;
}
header > #menucontent > div.sel {
  transition: opacity 200ms linear 20ms, transform 200ms linear 20ms, display 0ms linear 0ms;
  transition: 200ms;
  opacity: 1;
  pointer-events: auto;
  transform: translate(0px);
}
header > #menucontent > div > hr {
  margin: 10px 20px;
}
header > #menucontent > div > div {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 110px;
  margin: 5px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
header > #menucontent > div > div > i {
  font-size: 32px;
  margin: 5px auto 5px auto;
  width: 32px;
  height: 32px;
  text-align: center;
}
header > #menucontent > div > div > span {
  font-size: 16px;
  word-break: break-all;
  text-align: center;
  width: 110px;
  margin-top: 5px;
  height: 63px;
}
header > #menucontent > div > div:hover {
  background-color: #fafafa;
  transition: background-color 100m linear 0ms;
}/*# sourceMappingURL=style.css.map */