body {
    transition-property: all !important;
    transition-duration: 800ms !important;
}
div#displays.d--compact{
    opacity: 0;
    height: 0px;
    width: 0px;
    transition-property: width,height,opacity;
    transition-duration: 800ms;
}
span#displays.d--compact{
    font-size: 130px;
    font-weight: bold;
    transition-property: font-size,font-weight;
    transition-duration: 800ms;
}
div#displays.d--detail{
    opacity: 1;
    width: auto;
    height: auto;
}
span#displays.d--detail{
    font-size: 18px;
    font-weight: lighter;
}