@charset "UTF-8";
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#category,
#published,
#updated,
#description {
  padding-left: 1.5vw;
}

#description {
  font-size: 0.8vw;
  margin: 0;
}

#updt {
  padding-left: 1vw;
}
#updt::after {
  content: "更新";
}

#header {
  display: flex;
  align-items: flex-end;
}

#bg {
  width: 100vw;
  height: 100vh;
  filter: blur(20px) brightness(1.1);
  position: absolute;
  background-size: 105% 105%;
  background-repeat: no-repeat;
  z-index: -99;
  background-position: center;
}

#list marquee {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

a marquee {
  width: 54.8vw;
}

#list {
  width: 60vw;
}

#content {
  margin: 0 auto;
  display: grid;
  width: 60vw;
}

.item-head {
  display: inline-flex;
  height: 3vh;
  width: 60vw;
  position: relative;
  background-color: orange;
  transition-property: background-color;
  transition-duration: 300ms;
}

.item-head.open {
  background-color: white;
}

.item-head i {
  right: 0.5vw;
  font-size: 1vw;
  position: absolute;
  transition-property: transform, color;
  transition-duration: 300ms;
  margin-top: 0.5vh;
  color: white;
}

.item-head.open i {
  transform: rotateZ(90deg);
  color: orange;
}

.item-head #title {
  margin: 0;
  color: white;
  transition-property: color;
  transition-duration: 300ms;
  font-size: 1.2vw;
}

.item-head.open #title {
  color: orange;
}

.item {
  width: 60vw;
  height: 3vh;
  background-color: orange;
  transition-property: text-shadow, border, -webkit-text-decoration;
  transition-property: text-shadow, text-decoration, border;
  transition-property: text-shadow, text-decoration, border, -webkit-text-decoration;
  transition-duration: 300ms;
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-style: solid none;
  border-width: 3px 0px;
}

.item:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5333333333);
  text-decoration-color: white;
  border-color: #fff;
}

#link {
  background-color: orange;
  color: white;
  padding: 1vh 1vw;
  border-radius: 500px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition-property: border-color, color, background-color;
  transition-duration: 300ms;
  font-size: 0.5vw;
  width: 55vw;
  margin: 0 auto;
  position: absolute;
  top: 6.6vh;
  left: 1.5vw;
  display: flex;
  white-space: nowrap;
}

#link:hover {
  background-color: white;
  color: orange;
  border-color: orange;
}

#link i {
  padding: 0.3vh 0;
  right: 18px;
  position: absolute;
}

#link p {
  margin: 0;
}

.item-content {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: linear;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
  list-style-type: none;
  position: absolute;
}

.item-content.open {
  width: 60vw;
  height: 11vh;
  opacity: 1;
  overflow: visible;
  background-color: rgb(255, 202, 103);
}

h5,
h6 {
  color: white;
  margin: 0;
}

#list ul {
  width: 60vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#disp {
  height: 11vh;
}
#disp ul {
  width: 20vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#disp li {
  border-color: rgb(255, 202, 103);
}

#header h1 {
  font-size: 2vw;
}

.sp #header {
  display: grid;
  width: 100vw;
  position: fixed;
  z-index: 1;
}
.sp #header h1 {
  font-size: 5vw;
  background-color: rgb(87, 87, 255);
  width: 100vw;
  text-align: center;
  margin: 0;
  color: #fff;
  padding: 1vh 0;
  height: 5vh;
  line-height: 5vh;
}
.sp #header h4 {
  display: none;
}
.sp #header #updt {
  display: block;
  position: fixed;
  bottom: 0;
  color: #fff;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100vw;
  padding: 1vh 0;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  font-size: 3vw;
  z-index: 1;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.sp #content {
  margin: 0 auto;
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}
.sp #bg {
  display: none;
}
.sp #list {
  width: 100vw;
  margin-top: 7vh;
}
.sp #list ul {
  width: 100vw;
}
.sp #list ul .item {
  width: 100vw;
  height: 6vh;
  z-index: 1;
  background-color: #333;
  transition: none;
  border-top: none;
  border-bottom: solid;
  border-color: #fff;
  border-width: 2px;
}
.sp #list ul .item:hover {
  background-color: #333;
  color: #fff;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  text-decoration: none;
}
.sp #list ul .item .item-head {
  background-color: transparent;
  width: 100vw;
}
.sp #list ul .item .item-head #title {
  line-height: 6vh;
  font-size: 3vw;
  height: 6vh;
}
.sp #list ul .item .item-head i {
  line-height: 6vh;
  font-size: 6vw;
  transition-property: none;
}
.sp #list ul .item .item-head.open i {
  position: fixed;
  left: 0.5vw;
  top: 0;
  right: auto;
  transform: rotateZ(180deg);
  color: #fff;
  z-index: 1;
}
.sp #list ul .item .item-head.open h1 {
  color: #fff;
}
.sp #disp {
  width: 100vw;
  height: 93vh;
  position: absolute;
  margin-top: 7vh;
  z-index: -1;
}
.sp #disp.open {
  z-index: 1;
}
.sp #disp.open #link {
  overflow: visible !important;
  height: 4vh !important;
  z-index: 9 !important;
}
.sp #disp li {
  width: 100vw;
}
.sp #disp li#itemtop-content {
  display: none;
}
.sp #disp li.item-content {
  height: 93vh;
  background-color: #333;
  border-color: rgba(255, 255, 255, 0);
  font-size: 3vw;
  position: fixed;
  z-index: -90;
}
.sp #disp li.item-content #description {
  color: #fff;
  font-size: inherit;
}
.sp #disp li.item-content #link {
  position: fixed;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  width: 98vw;
  top: auto;
  left: auto;
  bottom: 0;
  margin: 0;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  height: 0;
  line-height: 4vh;
  font-size: 2vh;
  overflow: hidden;
  z-index: -90;
  pointer-events: none;
}
.sp #disp li.item-content #link #btntxt {
  width: -moz-max-content;
  width: max-content;
}
.sp #disp li.item-content #link i {
  line-height: 4vh;
}
.sp #disp li.item-content.open {
  z-index: 15;
}
.sp #disp li.item-content.open #link {
  pointer-events: auto;
}/*# sourceMappingURL=style.css.map */