@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
$pc: 920px;
$sp: 480px;
@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($pc)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($pc)) {
        @content;
    }
}
html {
    width: 100vw;
    height: 100vh;
    font-family: 'Klee One' !important;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(10px);
}

main {
    width: 100vw;
    height: 100vh;
}

#loginForm {
    background-color: #fff;
    width: 30vw;
    min-width: 500px;
    height: 70vh;
    border-radius: 20px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;

    @include sp {
        min-width: 360px;
    }

    & #formHeader {
        height: 10vh;
        padding-top: 5vh;
        width: 80%;
        text-align: center;
        margin: 0 auto;

        @include sp {
            height: 20vh;
        }

        & span {
            font-size: 30px;

            @include sp {
                display: flex;
                flex-direction: column;
            }
        }

        & #summary {
            display: inline-flex;
            flex-direction: column;

            & #surviceIcon {
                width: 50px;
                height: 50px;
                margin: 0 auto;
            }
        }
    }

    & form {
        width: 80%;
        height: 45vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include sp {
            height: 30vh;
        }

        & #id, #pw {
            width: 100%;
            height: 3vh;
            font-size: 16px;
            border-style: none none solid none;
            transition-property: border-color;
            transition-duration: 300ms;
            position: relative;
            bottom: 0;
            font-family: 'Klee One';

            &:focus-visible {
                outline-style: none;
                border-bottom-color: #083;
            }
        }

        & #login {
            background-color: #083;
            color: #fff;
            border-style: solid;
            padding: 5px;
            border-color: #eee;
            border-width: 1px;
            border-radius: 5px;
            font-family: 'Klee One';
            height: 4vh;
            font-size: 20px;
            width: 100%;

            @include sp {
                height: 50px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#plslatest {
    display: none;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & #ielogo {
        width: 128px;
        filter: grayscale(1);
    }
    & #browserlinks {
        display: flex;
        flex-wrap: wrap;
        &>div {
            border-color: #666;
            border-width: 1px;
            border-radius: 5px;
            border-style: solid;
            margin: 2vh 2vw;
            width: 10vw;
            height: 3vh;
            display: flex;
            padding: 1vh 1vw;
            color: #000;
            transition-property: color, background-color;
            transition-duration: 300ms;
            &#safari.win {
                opacity: 0.4;
                &>img {
                    filter: grayscale(1);
                }
            }
            &:hover {
                cursor: pointer;
                background-color: #333;
                color: #fff;
                &#safari.win {
                    cursor: not-allowed;
                    background-color: #fff;
                    color: #000;
                }
            }
            &>img {
                width: 2vw;
                height: 2vw;
                &#operal {
                    width: 1.8vw;
                    height: 1.8vw;
                }
            }
            &>h3 {
                margin: 0;
                line-height: 3vh;
                text-align: center;
                width: 6vw;
                white-space: nowrap;
            }
        }
    }
}