body {
    margin: 0;
}
.front {
    z-index: 90;
}
div {
    &#control{
        position: fixed;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        & #name{
            width: 50vw;
            height: 80vh;
            margin: auto 0;
            display: flex;
            flex-direction: column;
            & ul{
                background-color: #ccc;
                width: 50vw;
                height: 70vh;
            }
            &>div{
                display: flex;
                flex-direction: row;
            }
            & input{
                height: 2vh;
                &#nameinput{
                    width: 50vw;
                    font-size: 25pt;
                }
            }
        }
    }
    &#result {
        position: fixed;
        flex-direction: column;
        background-color: #bbbbbb;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        &>label#mapname{
            color: #fff;
            top: 3vh;
            position: absolute;
            font-size: 60pt;
            filter: drop-shadow(1px 1px 2px #000);
        }
        & #team{
            &a{
                &>label{
                    color: rgb(225, 85, 85);
                    font-size: 30pt;
                    filter: drop-shadow(1px 1px 2px #000);
                    background-color: #0002;
                    padding: 1vh 3vw;
                }
            }
            &b{
                &>label{
                    color: rgb(120, 222, 242);
                    font-size: 30pt;
                    filter: drop-shadow(1px 1px 2px #000);
                    background-color: #0002;
                    padding: 1vh 3vw;

                }
            }
            &v{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 60vw;
                & ul {
                    color: #fff;
                    font-size: 25pt;
                    filter: drop-shadow(1px 1px 2px #000);
                    background-color: #0002;
                    padding: 1vh 3vw;
                }
                &>div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50vw;
                    height: 70vh;
                }
            }
        }
        & #again{
            display: none;
        }
        & #againbtn {
            padding: 1vh 3vw;
            background-color: rgb(34, 138, 118);
            color: #fff;
            filter: drop-shadow(1px 1px 2px #000);
            display: block;
            box-sizing: border-box;
            padding: 20px 60px;
            border-radius: 999px;
            font-size: 20px;

            position: relative;
            overflow: hidden;

            font-weight: 300;
            text-transform: uppercase;
            border: 1px solid currentColor;

            box-shadow: 0 0 0 2em transparent;
            animation: pulse 2s infinite;
        }
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 white;
        font-size: 22px;
    }
}