@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&family=Shippori+Mincho:wght@400;500;600;700;800&family=VT323&display=swap');
html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
body {
    background-color: #ccccccbf;
}
.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #a7caff;
    z-index: -9000;
}
.Isometric {
    background-image: 
    linear-gradient(30deg,
        #07a4ff 12%,
        transparent 12.5%,
        transparent 87%,
        #07a4ff 87.5%,
        #07a4ff),
        linear-gradient(150deg,
        #07a4ff 12%,
        transparent 12.5%,
        transparent 87%,
        #07a4ff 87.5%,
        #07a4ff),
        linear-gradient(30deg,
        #07a4ff 12%,
        transparent 12.5%,
        transparent 87%,
        #07a4ff 87.5%,
        #07a4ff),
        linear-gradient(150deg,
        #07a4ff 12%,
        transparent 12.5%,
        transparent 87%,
        #07a4ff 87.5%,
        #07a4ff),
        linear-gradient(60deg,
        #07a4ff77 25%,
        transparent 25.5%,
        transparent 75%,
        #07a4ff77 75%,
        #07a4ff77),
        linear-gradient(60deg,
        #07a4ff77 25%,
        transparent 25.5%,
        transparent 75%,
        #07a4ff77 75%,
        #07a4ff77);
    background-size: 40px 70px;
    z-index: -9000;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pageprogressbar {
    &>.bar{
        background: #3787ff;
    }
}
#locationprogress {
    background: #9e846c;
    &>.bar{
        background: #ffa500;
    }
}
header {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 10vh;
    z-index: 1;
    background-color: #fff;
    padding-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: 2px solid #ccc;
    &>div {
        display: flex;
        flex-direction: column;
        &#location {
            &>#text {
                font-family: 'VT323';
                &>i {
                    color: orange;
                }
            }
        }
        &#health {
            &.safe {
                &>#text {
                    &>i {
                        color: limegreen;
                    }
                }
                & #remininghealth {
                    color: limegreen;
                }
                & #healthprogress {
                    background: #598358;
                    &>.bar {
                        background: limegreen;
                    }
                }
            }
            &.warn {
                &>#text {
                    &>i {
                        color: gold;
                    }
                }
                & #remininghealth {
                    color: gold;
                }
                & #healthprogress {
                    background: #867f52;
                    &>.bar {
                        background: gold;
                    }
                }
            }
            &.danger {
                &>#text {
                    &>i {
                        color: red;
                    }
                }
                & #remininghealth {
                    color: red;
                }
                & #healthprogress {
                    background: #6d3535;
                    &>.bar {
                        background: red;
                    }
                }
            }
        }
        &>div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &>#barmain {
                width: 25vw;
                height: 1vh;
                padding: 0 5px;
                &>.nanobar{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    &>.bar{
                        border-radius: 10px;
                    }
                }
            }
            &>i {
                font-size: 28px;
            }
            &>p {
                margin: 0;
                font-size: 32px;
                font-family: 'VT323';
                &#currentlocation {
                    color: orange;
                }
                &#goallocation {
                    color: gray;
                    font-size: 28px;
                }
                &#maxhealth {
                    color: grey;
                    font-size: 28px;
                    &.glowed {
                        color: goldenrod;
                    }
                }
            }
        }
    }
}
main {
    &>#frame {
        width: 30vw;
        height: 50vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &>#table {
            width: 20vw;
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &>#col {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &>#cell {
                    background-color: #000;
                    width: 3.5vw;
                    height: 3.5vw;
                    transition: background-color 100ms linear 0ms, transform 100ms linear 0ms;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.25);
                    }
                    &.off {
                        background-color: #000;
                    }
                    &.on {
                        background-color: gold;
                    }
                }
            }
        }
    }
}
footer{
    height: 5vh;
    width: 30vw;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    border-top: 2px #ccc solid;
    display: flex;
    justify-content: center;
    align-items: center;
    &>i{
        font-size: 36px;
        color: #aaa;
    }
    cursor: pointer;
}